<div class="all">
<div id="title">
  <%= link_to "https://www.app-fig.com/" do %>
    <h1>portfolio</h1>
  <% end %>
</div>
  <div class="container-items">
    <div class="card-image">
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png", alt: "doug" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621746113/kitchen-origin_jnduer.png", alt: "origin" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621745766/yann-eating_qjb5z4.png", alt: "yann" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621746113/kenn-itsokay_mhi7l8.png", alt: "kenn" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622623343/cat_in_pink_p23lrb.png", alt: "cat" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623041320/logo-3_w2thb5.png", alt: "cp-logo" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1623164573/sd_ombxmo.png", alt: "connecpet" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621996542/logo_hp9w9n.png", alt: "prankt" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624160830/rain_hcqddw.gif", alt: "rain" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1624192445/cicada_a5ppy7.gif", alt: "summer" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1627004448/wh_bvqkzq.png", alt: "whitney" %>
    </div>
  </div>
  <p class="text-center"><small>alexisanyc@gmail.com</small></p>
</div>
